include ucagent-plugin.toml CONTRIBUTING.md SECURITY.md Makefile
recursive-include tools *.py *.sh *.yaml Dockerfile
recursive-include src/spec_generator_plugin *.md *.yaml *.json *.sh
recursive-include tests *.py *.md
